<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Component Library</title>
</head>
<body>
    <h1>Component Library for Banana Translator App</h1>
    <hr>
    <h2>@Typography</h2>
    <h1 class="main-heading">This is Heading 1</h1>
    <h2 class="sub-heading">This is heading 2</h2>
    <p class="para">This is a paragraph. Here's some nonsense:
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga possimus et nesciunt deserunt a reprehenderit esse iusto maxime eveniet tempora, fugiat culpa mollitia doloremque rem consequatur ab, cupiditate odio quae.
    </p>
    <hr>
    <h2>@Text area</h2>
        <textarea placeholder="This is a text area" class="input-area"></textarea>
    <hr>
    <h2>@Output area</h2>
    <div class="output-area">This is an output div</div>
    <hr>
    <h2>#Button</h2>
    <button class="btn-translate">Click Here!</button>
    <hr>
    <h2>@Yellow container</h2>
    <div class="container-ylw">This is a yellow section</div>
</body>
</html>