<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library</title>
</head>
<body>
    <h1>Component Library for Banana Translator App</h1>
    <h2>Typography</h2>
    <h1>This is Heading 1</h1>
    <h2>This is heading 2</h2>
    <p>This is a paragraph. Here's some nonsense:
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga possimus et nesciunt deserunt a reprehenderit esse iusto maxime eveniet tempora, fugiat culpa mollitia doloremque rem consequatur ab, cupiditate odio quae.
    </p>
    <h2>Text area</h2>
    <textarea placeholder="This is a text area"></textarea>
    <h2>Output area</h2>
    <div>This is an output div</div>
    <h2>Button</h2>
    <button>Click Here!</button>
</body>
</html>