<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Component Library</title>
</head>
<body>
    <h1>Component Library for Banana Translator App</h1>
    <hr>
    <h2>@Typography</h2>
    <h1 class="main-heading">This is Heading 1</h1>
    <h2 class="sub-heading">This is heading 2</h2>
    <p class="para">This is a paragraph. Here's some nonsense:
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga possimus et nesciunt deserunt a reprehenderit esse iusto maxime eveniet tempora, fugiat culpa mollitia doloremque rem consequatur ab, cupiditate odio quae.
    </p>
    <hr>
    <h2>@Text area</h2>
        <textarea placeholder="This is a text area" class="input-area"></textarea>
    <hr>
    <h2>@Output area</h2>
    <div class="output-area">This is an output div</div>
    <hr>
    <h2>#Button</h2>
    <button class="btn-translate">Click Here!</button>
    <hr>
    <h2>@Black container</h2>
    <div class="container-black">
        This is a black section
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, rerum voluptatem ipsam quibusdam cupiditate dolorum placeat animi ea! Repellat eos sunt est excepturi corporis reiciendis sequi deleniti iure officiis inventore.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis quis amet quam accusamus, reiciendis assumenda adipisci non dolorem nulla quae nihil aspernatur mollitia quas animi aperiam esse aliquid! Quaerat, error.
    </div>
</body>
</html>